body {
    font-family: 'Montserrat', sans-serif;
}
/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
}
/* about styles */
.about {
    background-color: aqua;
}

/* projects styles */

.projects_titel {
    font-size: 45px;
    color: blueviolet;
}

.projects {
    background-color: bisque;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px;
}
/* work styles */
.work {
    background-color: aquamarine;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px;
    /* padding: 100px 40px  50px 20px;
    padding: 50px;
    padding: 50px 100px ; */
}
/* Education styles */
.education {
    background-color: red;
}