body {
    font-family: 'Montserrat', sans-serif;
}
/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    background: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}
.main_content{
    background: #FFFFFF;
}
/* about styles */
.about {
}

/* projects styles */

.projects_titel {
   
}

.projects {
  
}
/* work styles */
.work {
    
    /* padding: 100px 40px  50px 20px;
    padding: 50px;
    padding: 50px 100px ; */
}
/* Education styles */
.education {
}
/* Sidebar styles */
.sidebar{
    background: #1E2939;
    padding-top: 40px;
    width: 370px; 
}
.photo {
    width: 370px;
    margin-bottom: 50px;
}
.contacts,
.tech_skills,
.soft_skills {
    margin-left: 40px;
}
contacts {
    margin-bottom: 50px;
}
.sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.contacts_type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}
.contact_link {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #573D3D;
}
.tech_skills_list {
    color:#FFFFFF;
    padding: 0;
    margin-left: 17px;
}
.soft_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}
